// Color Theme Vars
$color-main:#0857A5;
$color-secondary:#D5B6B2;

$color-dark: #37354A;
$color-dark-accent: #AE3D55;
$color-extra-dark: #444;

$color-light: #F4F3EF;
$color-light-accent: #D8D2CB;
$color-extra-light: #F4F7F6;

$color-white: #fff;
$color-black: #000;

$f: $color-white;
$o: $color-black;

$bodycolor: #778089;
