// request-appointment
section.request-appointment {
  .content {
    .titleimage {
      h2.sec-title {
        font-size: 60px;
        line-height: 70px;
      }
    }
  }
  .formhover {
    margin: 0 0;
  }

  .formpwrap {
    display: flex;
    flex-wrap: wrap;
  }

  .formpwrap .input {
    width: 50%;
    padding: 10px 30px;
  }

  .formpwrap .f-submit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 0;
  }
  .formpwrap {
    max-width: 960px;
    margin: 0 auto;
  }
  input.form-control {
    width: 100%;
    max-width: 100%;
  }
  form#schedule {
    margin-bottom: 60px;
  }
  select.form-control {
    max-width: 100%;
  }
  .titlecontent {
    max-width: 930px;
    margin: 0 auto;
    text-align: center;
    padding: 90px 0 0;
  }
  select.form-control {
    text-transform: uppercase;
  }
  select.form-control,
  input.form-control {
    border: none;
    border-bottom: 1px solid #666666;
    border-radius: 0;

    padding: 15px 0;
    transition: all 0.3s;
    &:hover {
      padding: 15px 10px;
      border-radius: 3px;
    }
  }
}

// img fix
img{
max-width: 100%;
}

/* Archive */

.gallery-archive {
  height: auto;
  // padding: 2rem;

  .ui-gallery {
    margin-top: 2rem;
  }

  h2 {
    color: $color-light-accent;
    font-family: $font-secondary;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2rem;
    /* 50px */
    line-height: 3rem;

    a {
      color: $color-light-accent;
    }
  }

  .card {
    border: 0;
  }

  .slider-gallery {
    height: 300px;
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
    // display: table;

    &::before {
      content: "";
      background: $color-main;
      position: absolute;
      /* z-index: 9999999; */
      width: 100%;
      height: 100%;
      opacity: 0.7;
    }

    .gallery-title {
      font-size: 1.5rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      line-height: initial;
      color: $color-white;
    }

    a {
      color: $color-light;
      position: absolute;
      font-weight: 300;
      width: 100%;
      height: 100%;
      line-height: 2rem;

      &:hover {
        color: $color-dark;
        // text-decoration:none;
      }

      // .overlay {
      // background-color:rgba($color-light-accent, 0.6);
      // transition: all 0.5s ease;
      // width: 100%;
      // height: 100%;
      // position: absolute;
      // }
    }
  }
}


// SLick slider arrow

span.arrow {
  position: absolute;
  right: 100%;
  top: 50%;
  z-index: 23123;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  margin: -20px 20px 0;
  svg {
    width: 40px;
    height: 40px;
  }

  &.next {
    left: 100%;
  }
}

/* BLOG SECTION */
.bg-main {
  background: rgba($color-light, 1);
  color: $color-white;
  padding: 3rem;
  @media screen and (max-width: 576px) {
    padding: 1.5rem;
  }
  // .sec-content {
  h2 {
    color: $color-white;
  }
  // }
}

/* SECTION STYLES */

.txtcn {
  text-align: center;
}
figure.wp-block-video {
  video {
    max-width: 100%;
  }
}

section.interior-fold {
  &.fold-landing {
  }
}

section.main-title {
  text-align: center;
  // padding: 60px 15px;
  position: relative;

  .containerish {
    position: relative;
    z-index: 2;
  }

  .col-md-12r {
    padding: 30px 0 0px;
    margin: 0px auto;
    max-width: 1125px;
    border-radius: 5px;
  }
}

.subpage {
  .container {
    padding: 0;
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;

    .row {
      margin: 0 auto;
      // display: block;
    }
  }
}

.crumbs {
  a:hover {
    color: $color-white;
  }
}

.interior-bg.pagesection {
  .container-request {
    padding: 0 0;
  }
}

.interiorrequestform
  section.request-consultation
  .container-request
  .request-appointment-form-block {
  margin: 0 auto;
  padding: 0 50px 30px;
}

.interiorrequestform
  section.request-consultation
  .container-request
  .request-appointment-form-block
  .form-block-content {
  margin: 0 0 30px;
}

.subpage {
  .consuletationform {
    margin-top: 80px;
  }
}

.pagesection {
  .container,
  .containerish {
    max-width: 1286px;
  }

  a:not(.ui-btn) {
    color: $color-main;
    &:hover {
      text-decoration: underline;
      color: $color-dark;
    }
  }

  .card-columns {
    width: 100%;
  }
}

p#contact-success {
  margin: 30px auto;
}

p.alert.alert-danger {
  margin: 30px auto;
}

.spinner-border {
  height: 100px;
}

.spinner-grow {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  animation: spinner-grow 0.75s linear infinite;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border 0.75s linear infinite;
  margin: 30px auto;
}

@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}

// input#s {
//   padding: 36px;
//   display: block;
//   background-color: transparent;
//   border: none;
//   margin: 0;
//   padding: 0;
//   color: rgba(0, 0, 0, 0.87);
//   word-wrap: break-word;
//   outline: none;
//   display: flex;
//   display: block;
//   flex: 0 0 0;
//   width: 90%;
//   padding: 10px 20px;
// }

// .input-group {
//   width: 584px;
//   background: #fff;
//   display: flex;
//   border-radius: 8px;
//   border: 1px solid #dfe1e5;
//   box-shadow: none;
//   border-radius: 24px;
//   z-index: 3;
//   height: 44px;
//   margin: 0 auto;
//   display: flex;
//   flex-direction: column;
// }

// div#search-overlay {
//   background: rgba(255, 255, 255, 0.9);
//   bottom: 0;
//   padding: 0;
// }

// h2.text-center.white {
//   font-size: 55px;
//   color: #2d97a8;
//   font-weight: 300;
//   text-transform: uppercase;
//   margin: 0 0 30px;
// }

// button#searchsubmit {
//   background: transparent;
//   border: none;
// }

// div#search-overlay {
// }

// div#search-overlay .container-fluid {
//   height: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// form#searchform {
//   width: 100%;
//   margin: 0 auto;
// }

// #search-overlay em {
//   color: #444;
// }

// #search-overlay a {
//   color: #444;
// }

// #search-overlay a.searchcall {
//   font-size: 30px;
//   color: #2d97a8;
//   font-weight: 300;
//   text-transform: uppercase;
//   margin: 30px 0 30px;
//   display: inline-block;
//   &:hover {
//     color: #fff;
//   }
// }

video.videotag-image {
  width: 100%;
  height: 49.66vh;
}

.galler-tmb {
  margin-right: 0;
}

ul.related-treatments {
  overflow: auto;
}

.related-treatments li {
  margin: 0 0 0 !important;
  display: inline-block;
  // float: left;
}

.related-treatments li a.btn-gallerylink {
  border: none;
  display: block;
  position: relative;
  overflow: hidden;
  background-position: 50%;
  background-size: cover;
  min-height: 200px;
  display: flex;
  align-items: unset;
  justify-content: center;
}

.related-treatments li a.btn-gallerylink:hover:after {
  transform: translateY(0);
}

.related-treatments li a.btn-gallerylink:after {
  content: close-quote;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(45, 151, 168);
  z-index: 0;
  transform: translateY(100%);
  transition: all 0.7s;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

span.linktitle {
  padding: 20px 20px 20px;
  font-style: normal;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  max-width: 100%;
  color: #fff;
  font-size: 16px;
  width: 260px;
  border: none;
  line-height: 25px;
  position: relative;
  -webkit-appearance: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.34);
}

.fold-landing {
  min-height: 0;
  // margin: 2rem;

  @include isXLarge {
    margin: 0 auto;
  }

  .fold-content-main {
    // min-height: 0;
    .banner-bg {
      padding: 0;
      width: 100%;
      position: relative;
      max-height: 45vh;
      overflow: visible;
      border-radius: 0;
      overflow: hidden;

      @include isMedium {
        max-height: 50vh;
        min-height: 600px;
        height: 600px;
      }

      img.bannerim {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        position: relative;
        max-height: 45vh;
        min-height: 100%;
        z-index: 2;
      }
    }
  }
}

section.interior-fold.fold-landing {
  min-height: 0;
}

h3.widget-title {
  margin: 30px 0 20px;
  font-weight: 300;
  text-transform: uppercase;
}

figure.wp-block-embed {
  iframe {
    width: 100%;
    height: 38.7vh;
    max-height: 38.5vw;
  }
}

.input-group {
  max-width: 100%;
}
div#searchrel {
  width: 100%;
  max-width: 640px;
  padding: 0 0;
}
.card {
  box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.28);
  border: none;
  margin-bottom: 3rem;

  .card-body {
    background-color: #fff;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

// form on front page
.appointment {
  .containerish {
    #request {
      display: grid;
      grid-gap: 1rem;
      @include isLarge {
        max-width: 750px;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 4rem;
        margin: 0 auto;
      }
      @include isXLarge {
        margin-top: 2rem !important;
      }
      input,
      select {
        height: 53px;
        padding: 1rem;
        border: none;
        font-weight: 400;
      }
      select {
        border-radius: 0 !important;
        -webkit-appearance: none;
      }
      button {
        @include isLarge {
          grid-column: 1 / -1;
          justify-self: center;
        }
      }
    }
  }
}

/* BLOG SECTION */
.bg-main {
  background: rgba($color-secondary, 1);
  color: $color-white;
  padding: 3rem;
  @media screen and (max-width: 576px) {
    padding: 1.5rem;
  }
  // .sec-content {
  h2 {
    color: $color-white;
  }
  // }
}

// Mixin itself
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

// Usage as a mixin
.clearfix {
  @include clearfix;
}

.pagedata {
  display: flex;
  max-width: 750px;
  margin: 0 auto;
}

// Association
div#treated-by ul.related-treatments li {
  position: relative;
  display: flex;
  color: $color-main;

  a {
    border: 1px solid #eee;
    margin: 0;
    text-transform: capitalize;
    @include isSmall {
      margin: 0 20px 0 0;
    }
  }
}
div#treated-by ul.related-treatments li:nth-last-child(1):after {
  opacity: 0;
}
div#treated-by ul.related-treatments li:after {
  // content: "/";
  // left: 0;
  // position: relative;
  // top: 0;
}
section.entry-content {
  padding: 0 20px;
}
div#treated-by {
  padding: 40px 30px 30px;
  margin: 30px 30px 90px;
  position: relative;
  background: #fff;

  &:after {
    content: close-quote;
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 2px solid #fff;
    z-index: -1;
  }

  h2.sec-title {
    text-align: center;
    color: $color-main;
    font-size: 48px;
    line-height: 55px;
    margin: 0 0;
    font-weight: 100;
    text-transform: uppercase;
  }
  ul.related-treatments {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 !important;
    flex-wrap: wrap;
  }
  .ui-btn {
    @include isSmall {
      font-size: 16px;
    }
  }
}
.related-treatments li a:hover {
}
// Related Articles
.relatedarticles {
  margin: 60px 0 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;

  @include isSmall {
    grid-template-columns: repeat(2, 1fr);
  }

  @include isLarge {
    grid-template-columns: repeat(3, 1fr);
  }

  .imageblock {
    max-height: 200px;
    overflow: hidden;

    // @include isSmall {
    //   max-height: 200px;
    // }

    @include isLarge {
      max-height: 169px;
    }

    @include isXLarge {
      max-height: 255px;
    }
  }
}
.rel-article {
  // display: flex;
  // width: 33%;
  // flex-direction: column;
  // margin: 0 20px;
  background-color: $f;
}

.articlestitle h2.sec-title {
  text-align: center;
  color: $color-main;
  font-size: 48px;
  line-height: 55px;
  margin: 0 0;
  font-weight: 100;
  text-transform: uppercase;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rel-article h2.sec-title {
  font-size: 16px;
  display: block;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: #333333;
  margin: 0 0 20px;
}

.rel-article .btn-container {
  text-align: center;
}

.rel-article .cnt {
  display: block;
  padding: 40px;
  background: #fff;
}
.rel-article {
  box-shadow: 0 0 60px #f1f0ed;
}

.rel-article .cnt .ui-btn:after {
  content: close-quote;
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  height: 1px;
  background: $color-main;
  width: 120px;
  transform: none;
  opacity: 1;
  margin: 0 auto;
}

.rel-article .cnt .ui-btn {
  overflow: visible;
  justify-content: center;
  align-items: center;
  display: block;
  margin: 30px auto 0;
  text-transform: uppercase;
  font-weight: 600;
}

.rel-article .btn-container {
}
p.shareme {
  text-align: center;
  margin: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-transform: uppercase;
}

.rel-article img.pic {
  display: block;
  width: 100%;
}
.disclaimer {
  text-align: center;
  color: $color-main;
  font-size: 12px;
  margin: 60px 0 0;
  font-weight: 400;
}

// GALLERY Block
.gallery-block {
  position: relative;
  padding: 100px 0;
  background-color: $f;
  margin: 60px 0 60px;
}
.gallery-archive {
  margin: 0 0 30px;
}
.gallery-archive .slider-gallery .gallery-title {
  font-weight: 300;
  text-align: center;
}
.gallery-block .imageblock {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.gallery-block .imageblock img.pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50%;
}

.gallery-block .content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.gallery-block .content h2.sec-title {
  margin: 0;
  line-height: 55px;
  color: $color-main;
  font-size: 48px;
  text-transform: uppercase;
}

.gallery-block .content .btn-container {
  margin: 0;
  .ui-btn {
    color: #666666;
    text-transform: capitalize;
    font-weight: 300;
    white-space: initial;
    margin: 0 20px;
  }
}

// QUote
section.quoteblock {
 
}
section.quoteblock {
  padding: 60px 20px;
  margin: 0 0 -30px;

  .quotes {
    width: 100%;
    margin: 0;
    margin-bottom: -23px;
  }
}

section.quoteblock .content {
  background: #fff;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.quotes {
  position: relative;
  z-index: 2;
}

section.quoteblock .container {
}
section.quoteblock {
  .content {
    font-size: 24px;
    color: #666666;
    font-style: italic;
    line-height: 35px;
    padding: 60px 100px 30px;
    font-weight: 100;
    position: relative;
    flex-direction: column;
    p {
      margin: 0 0 0px;
      font-style: italic;
      font-weight: 300;
      color: #666666;
      font-size: 24px;
      line-height: 40px;
      max-width: 1000px;
      margin: 0 auto;
    }
    .btn-container {
      margin: 0 0 20px;
      a.ui-btn {
        font-style: normal;
      }
    }
  }
}

section.quoteblock .content span.who {
  font-size: 14px;
  color: $color-main;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
}

section.quoteblock .content:after {
  content: close-quote;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 1px solid #fff;
}

video {
  height: auto;
}
.spacingblock {
  display: block;
  width: 100%;
  margin-bottom: 60px;
}

.crumbscontainer {
  color: $color-main;
  font-size: 16px;
  font-weight: 600;
}

.pagedata span.section {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

span.title {
  display: block;
  color: #707070;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
span.value {
  color: $color-main;
  font-size: 25px;
  display: block;
  margin: 5px 0 0;
}

.heading-primary {
  font-size: 2em;
  padding: 2em;
  text-align: center;
}
.accordion dl,
.accordion-list {
  // border: 1px solid #ddd;
}
.accordion dd,
.accordion__panel {
  // background-color: #eee;
  font-size: 1em;
  line-height: 1.5em;
}
.accordion p {
}

.accordion {
  position: relative;
  max-width: 900px;
  margin: 30px auto 90px;
  border-top: 1px solid $color-main;
}

span.item {
  display: block;
  margin: 30px 0;
  border: 1px solid $color-main;
  padding: 15px 100px;
  position: relative;
}
.accordionTitle,
.accordion__Heading {
  display: block;
  text-decoration: none;
  color: $color-main;
  transition: background-color 0.5s ease-in-out;
  padding: 0;
  font-size: 16px;
  text-transform: uppercase;

  &:before {
    content: "+";
    font-size: 1.5em;
    line-height: 0.5em;
    float: left;
    transition: transform 0.3s ease-in-out;
    position: absolute;
    left: 50px;
    top: 20px;
  }
  &:hover {
    // background-color: darken($color-main, 10%);
  }
}
.accordionTitleActive,
.accordionTitle.is-expanded {
  &:before {
    transform: rotate(-225deg);
  }
}
.accordionItem {
  height: auto;
  overflow: hidden;
  //SHAME: magic number to allow the accordion to animate

  transition: max-height 1s;

  @media screen and (min-width: 48em) {
    transition: max-height 0.5s;
  }
}

.accordionItem.is-collapsed {
  max-height: 0;
}
.no-js .accordionItem.is-collapsed {
  max-height: auto;
}
.animateIn {
  animation: accordionIn 0.45s normal ease-in-out both 1;
}
.animateOut {
  animation: accordionOut 0.45s alternate ease-in-out both 1;
}
@keyframes accordionIn {
  0% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes accordionOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
  }
}

span.breadcrumb_last {
  margin-left: 10px;
}

.subpage .breadcrumbs a {
  margin: 0 10px;
  text-decoration: none;
}
hr {
  color: #fff;
  background: #fff;
  border: none;
  border-top: 0px solid #e8e8e8;
}
/* SECTION STYLES */
.containerish {
  max-width: 1366px;
  margin: 0 auto;
}
.txtcn {
  text-align: center;
}
figure.wp-block-video {
  video {
    max-width: 100%;
  }
}

.card.align-items-center.mb-4 {
  position: relative;
  display: -webkit-box;
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  margin: 30px 0;
  border-radius: 0.25rem;
}
.p-3.text-center {
  text-align: center;
  margin: 30px 0 0;
}

.p-3.text-center span.mb-3 svg {
  min-width: 40px;
  color: $color-main;
}
.card-columns {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  orphans: 1;
  widows: 1;
}

.has-text-align-center {
  text-align: center;
}

.pagesection {
  .img-fluid {
    width: 100%;
    height: auto;
    border: 10px solid #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
  }
  .wp-block-column {
  }
}
.fullwidthimagesplit {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 0 -20px;
}

.fullwidthimagesplit .imageblock {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 1;
  width: 50%;
  height: 100%;
}
.fullwidthimagesplit:after {
  content: close-quote;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 20%;
  background: #000;
  z-index: 1;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(white),
    color-stop(20%, white),
    to(rgba(255, 255, 255, 0))
  );
  background: linear-gradient(
    -90deg,
    white 0%,
    white 70%,
    rgba(255, 255, 255, 0) 100%
  );
}

.subpage .fullwidthimagesplit .container {
  z-index: 2;
}
.fullwidthimagesplit .container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 60px 0;
}

.fullwidthimagesplit .imageblock img.pic {
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: right;
  width: 100%;
}

.fullwidthimagesplit .container .content {
  width: 50%;
  max-width: 440px;
  margin-right: 16%;
}
.containerish {
  position: relative;
  z-index: 2;
}

.row-r {
  position: relative;
  z-index: 2;
}
section.foldimage {
  position: relative;
  min-height: 0;
  padding: 0 30px 0;
}

section.interior-fold.fold-landing {
  position: relative;
  z-index: 1;
  // margin-bottom: -250px;
  // min-height: 100vh;
}

section.foldimage {
  .breadcrumbs {
    position: relative;
    background-color: transparent;
    z-index: 2;
    background: transparent;
    margin: 30px 0 0px;
  }
}

section.foldimage {
  section.main-title {
    position: relative;
    z-index: 2;
    h1 {
      font-size: 65px;
      line-height: 75px;
    }
  }
}

section.foldimage {
  .pagedata {
    position: relative;
    z-index: 2;
  }
}

section.interior-fold {
  &.fold-landing {
    .banner-bg {
      position: relative;
      padding: 0;

      img.bannerim {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        position: relative;
        min-height: 100%;
        z-index: 2;
        display: block;
        max-height: 100vh;
        object-fit: cover;
        object-position: top;
      }
    }
  }
}
.pagesection {
  position: relative;
  z-index: 2;

 

  > div {
    position: relative;
    z-index: 3;
  }

  &:after {
    content: close-quote;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #ffffff 0%, rgba(21, 114, 181, 0) 100%);
    z-index: 1;
  }

  .wp-block-columns {
    margin: 0 auto;
  }
  &:after {
    content: close-quote;
  }

  button {
    &.ui-btn {
      &.ui-btn-main {
        white-space: initial;
      }
    }
  }

  .modal {
    .video-container {
      iframe {
        height: 325px;

        @include isSmall {
          height: 557px;
        }
      }
    }
  }
  // #breast-aug-modal3 {
  //   &.modal {
  //     .video-container {
  //       iframe {
  //         height: 557px;
  //       }
  //     }
  //   }
  // }
}

.subpage {
  .breadcrumbs {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding: 0;
    text-align: center;
  }

  .container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;

    .row {
      margin: 0 auto;
    }
  }
}

.crumbs {
  a:hover {
    color: $color-white;
  }
}

.interior-bg.pagesection {
  .container-request {
    padding: 0 0;
  }
}

.shareme {
  margin: 0;
  a {
    color: $color-main;
    font-size: 0px;
    margin-right: 10px;
  }
}

.interiorrequestform
  section.request-consultation
  .container-request
  .request-appointment-form-block {
  margin: 0 auto;
  padding: 0 50px 30px;
}

.interiorrequestform
  section.request-consultation
  .container-request
  .request-appointment-form-block
  .form-block-content {
  margin: 0 0 30px;
}

.alert-info {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  margin: 30px auto;
}

p#contact-success {
  margin: 30px auto;
}

p.alert.alert-danger {
  margin: 30px auto;
}

.spinner-border {
  height: 100px;
}

.spinner-grow {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  animation: spinner-grow 0.75s linear infinite;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border 0.75s linear infinite;
  margin: 30px auto;
}

@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}

input#s {
  padding: 36px;
  display: block;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  display: block;
  flex: 0 0 0;
  width: 90%;
  padding: 10px 20px;
}

.input-group {
  width: 584px;
  background: #fff;
  display: flex;
  border-radius: 8px;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

div#search-overlay {
  background: rgba(255, 255, 255, 0.9);
  bottom: 0;
  padding: 0;
}

h2.text-center.white {
  font-size: 55px;
  color: #2d97a8;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 30px;
}

button#searchsubmit {
  background: transparent;
  border: none;
}

div#search-overlay {
}

div#search-overlay .container-fluid {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form#searchform {
  width: 100%;
  margin: 0 auto;
}

#search-overlay em {
  color: #444;
}

#search-overlay a {
  color: #444;
}

#search-overlay a.searchcall {
  font-size: 30px;
  color: #2d97a8;
  font-weight: 300;
  text-transform: uppercase;
  margin: 30px 0 30px;
  display: inline-block;
  &:hover {
    color: #fff;
  }
}

video.videotag-image {
  width: 100%;
  height: 49.66vh;
}

.galler-tmb {
  margin-right: 0;
}

ul.related-treatments {
  overflow: auto;
}

.related-treatments li {
  margin: 0 0 10px !important;
  display: inline-block;
  // float: left;
}

.related-treatments li a.btn-gallerylink {
  border: none;
  display: block;
  position: relative;
  overflow: hidden;
  background-position: 50%;
  background-size: cover;
  min-height: 200px;
  display: flex;
  align-items: unset;
  justify-content: center;
}

.related-treatments li a.btn-gallerylink:hover:after {
  transform: translateY(0);
}

.related-treatments li a.btn-gallerylink:after {
  content: close-quote;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(45, 151, 168);
  z-index: 0;
  transform: translateY(100%);
  transition: all 0.7s;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

span.linktitle {
  padding: 20px 20px 20px;
  font-style: normal;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  max-width: 100%;
  color: #fff;
  font-size: 16px;
  width: 260px;
  border: none;
  line-height: 25px;
  position: relative;
  -webkit-appearance: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.34);
}

h3.widget-title {
  margin: 30px 0 20px;
  font-weight: 300;
  text-transform: uppercase;
}

figure.wp-block-embed {
  iframe {
    width: 100%;
    height: 38.7vh;
    max-height: 38.5vw;
  }
}

.interior-ba {
  position: relative;

  .gallery-item {
    align-items: center;
    display: flex;
  }
  .gallery-item a {
    position: relative;
    display: block;
    margin-bottom: 15px;
    height: auto;
    overflow: hidden;
    line-height: 2rem;
    display: flex;
    align-items: center;
    min-height: 300px;
    &:hover {
      background: transparent;
    }
  }
}
.input-group {
  max-width: 100%;
}
div#searchrel {
  width: 100%;
  max-width: 640px;
  padding: 0 0;
}
.card-columns .card {
  box-shadow: 0 0 0px 0px #000;
  border: none;
  display: inline-block;
}

//  BLog
.blogcats {
  margin: 30px 0;
  text-align: center;
  padding: 0 60px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  ul a {
    padding: 10px;
    text-decoration: none;
  }
}

#scroll {
  position: fixed;
  right: 20px;
  bottom: 80px;
  cursor: pointer;
  z-index: 99999999999;
  line-height: 0;
  border-radius: 3px;
  padding: 20px;
  color: #0f6aaa;
  text-decoration: none;
  background: white;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 0 3px 50px 20px rgba(0, 0, 0, 0.19);
  transition: all 0.3s;

  &:hover {
    opacity: 0.6;
  }
  svg {
    width: 25px;
    fill: #fff;
    border-radius: 50%;
    height: 25px;
  }
}

.cta-sec {
  width: 100%;
  margin: 60px auto;
  padding: 60px;
  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  background: #fbfbfb;
 
  background-size: cover;
  background-position: 50%;
  img {
    margin: 0 0 30px;
  }
  h2 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.5rem;
    letter-spacing: 0.5rem;
    padding-bottom: 1rem;
    color: #090909;
    margin: 0 0;
  }
}

h2.gallerytitle {
  padding-bottom: 1rem;
  margin: 60px 0 0;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #0a0a0a;
  line-height: 2.5rem;

  font-size: 2rem;
  font-weight: bold;
  color: #0a0a0a;
  line-height: 2.5rem;
}

#gallery-single {
  max-width: 85%;
  margin: 0 auto;
}

iframe {
  max-width: 100%;
}

form#paymentform input {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  text-align: left;
  padding: 15px 20px;
  color: #444;
  font-size: 14px;
  border: none;
  box-shadow: none;
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 0;
  font-weight: 300;
  background-color: transparent;
  border-bottom: 1px solid rgba(112, 112, 112, 0.28);
  margin-bottom: 20px;
  background: rgba(93, 124, 122, 0.15);
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

form#paymentform input[name="submit"] {
  font-style: normal;
  display: -webkit-inline-box;
  display: inline-flex;
  max-width: 100%;
  color: #088d9d;
  border: none;
  font-weight: 300;
  line-height: 16px;
  position: relative;
  -webkit-appearance: none;
  font-weight: 300;
  z-index: 1;
  min-width: 0px;
  overflow: hidden;
  cursor: pointer;
  background: #a7d787;
  color: #088d9d;
  text-decoration: none;
  border-radius: 50px;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  padding: 5px 40px;
  white-space: nowrap;
  line-height: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  min-height: 50px;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #fff;
  box-shadow: 0 0 0px #a7d787;
  text-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-width: 190px;
}

form#paymentform {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto 30px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 10px;
}

form#paymentform br {
  display: none;
}

form#paymentform label {
  display: block;
  margin: 0 0 10px;
  text-align: center;
  font-weight: 500;
  color: #0a0a0a;
}
span.mytouchid {
  padding: 20px 60px 0;
}

span.mytouchid a.touchid {
  display: block;
}

span.mytouchid a.touchid img.pic {
  height: 30px;
  width: 170px;
}

sup {
  font-size: 70%;
  vertical-align: super;
  line-height: 0;
}

// Archive Page
.catbars {
  padding: 0;
  text-align: center;
  width: 100%;
  h2 {
    margin: 60px 0 20px;
    font-size: 32px;
  }
  .catl {
    display: block;
    flex-wrap: initial;

    @include isSmall {
      display: flex;
      flex-wrap: wrap;
    }
    p {
      width: 100%;
      margin: 5px 0;

      @include isSmall {
        width: 50%;
      }

      @include isMedium {
        width: 33%;
      }

      a {
        text-decoration: none;
      }
    }
  }
}

#kenect-prompt-message-vwnuDq7SlTOdi3d3B00q {
  display: none !important;
}
.editlink {
  text-align: center;
  margin: 0 0 30px;
}

.btncontainercenter {
  text-align: center;
}

.formtitle {
  text-align: center;
}

.post-type-archive-providers .card img.card-img-top {
  display: block;
  max-height: 300px;
  object-position: 0 20%;
  object-fit: cover;
}

// SLIDER

// span.slick-arrow {
//   position: absolute;
//   top: 50%;
//   left: calc(100% + 20px);
//   z-index: 91239;
//   font-style: normal;
//   -webkit-box-pack: center;
//   -webkit-box-align: center;
//   color: #fff;
//   font-size: 0;
//   padding: 0;
//   border: none;
//   font-weight: 100;
//   line-height: 25px;
//   -webkit-appearance: none;
//   text-align: center;
//   transition: all 0.3s ease-in-out;
//   border-radius: 50%;
//   width: 40px;
//   height: 40px;
//   line-height: 32px;
//   display: flex;
//   align-items: center;
//   background-color: $color-white;
//   justify-content: center;
//   cursor: pointer;

//   svg {
//     width: 20px;
//     fill: $color-light-accent;
//   }
//   &:before {
//     display: none;
//   }
// }

// span.prev.slick-arrow {
//   right: calc(100% + 20px);
//   left: auto;
// }


div#rsvp-page-form input#mc-embedded-subscribe {
  background: #444;
  color: #fff;
  margin: 30px 15px 0;
}

div#rsvp-page-form {
}

form#mc-embedded-subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}

form#mc-embedded-subscribe-form .row {
  width: 100%;
}



/* -------------------------------------------------------------------------- */
/* Search Page*/
/* -------------------------------------------------------------------------- */

#close-search {
  font-size: 2rem;
  cursor: pointer;
}

#search-overlay {
  display: none;
  background-color: rgba($color-dark, 0.85);
  color: $color-light;
  height: 100vh;
  width: 100%;
  z-index: 99999999999;
  padding: 170px 60px 0;
  position: fixed;
  top: 0;

  .svg {
    width: 25px;
    height: 25px;
  }

  em {
    display: block;
    text-align: center;
    font-size: 120%;
    margin-top: 30px;
    color: $color-light;
  }

  a {
    color: $color-white;
    font-weight: 700;
    text-decoration: none;
  }

  .form-control::-webkit-input-placeholder {
    color: $color-white;
  }

  .form-control::-moz-placeholder {
    color: $color-white;
    opacity: 1;
  }

  .form-control:-ms-input-placeholder {
    color: $color-white;
  }

  .form-control:-moz-placeholder {
    color: $color-white;
    opacity: 1;
  }
}

.search-results em {
  display: block;
  text-align: center;
  font-size: 120%;
  margin-bottom: 60px;
}

.icon-close {
  fill: $color-white;
}

input#s {
  padding: 36px;
  /* display: block; */
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  /* display: -webkit-box; */
  /* display: flex; */
  /* display: block; */
  -webkit-box-flex: 0;
  flex: 0 0 0;
  width: 90%;
  padding: 20px 20px;
}

.input-group {
  width: 100%;
  max-width: 584px;
  background: #fff;
  /* display: -webkit-box; */
  /* display: flex; */
  /* border-radius: 8px; */
  /* border: 1px solid #dfe1e5; */
  /* box-shadow: none; */
  border-radius: 24px;
  z-index: 3;
  // /* height: 44px;
  margin: 0 auto;
  /* display: flex; */
  /* -webkit-box-orient: vertical; */
  /* -webkit-box-direction: normal; */
  /* flex-direction: column;*/
}

div#search-overlay {
  background: rgba($color-light-accent, 0.9);
  bottom: 0;
  padding: 0;

  .close-sec {
    position: absolute;
    top: 20%;
    right: 20%;

    #close-search {
      svg {
        width: 25px;
        height: auto;
      }
    }
  }
}

h2.text-center.white {
  font-size: 55px;
  color: $color-white;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 30px;
  text-align: center;
}

button#searchsubmit {
  background: transparent;
  border: none;
  padding: 1rem;

  svg {
    width: 20px;
    height: auto;
  }
}

div#search-overlay {
}

div#search-overlay .container-fluid {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form#searchform {
  width: 100%;
  margin: 0 auto;
}


/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}




/* -------------------------------------------------------------------------- */
/* Form Error Box */
/* -------------------------------------------------------------------------- */

.alert-info {
  max-width: 320px;
  padding: 1rem;
  margin: 1rem auto 0;
  color: $color-white;
  background-color: #ff0000;
  z-index: 99999999;

  ul {
    padding: 0;
    margin: 0 !important;

    li {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}




/* -------------------------------------------------------------------------- */
/* Inner pages align images */
/* -------------------------------------------------------------------------- */

.pagesection {
 
  // padding: 2rem !important;

  .text-center {
    text-align: center;
  }

  img {
    // width: 100%;
    max-width: 100%;
    height: auto;
  }

  .img-fluid {
    width: 100%;
    height: auto;
  }

  .alignright,
  .alignleft,
  .aligncenter {
    margin: 2rem auto;
    display: block;
  }

  .alignnone {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: block;
  }

  figure {
    img {
      width: 100% !important;
      max-width: 100%;
      height: auto;
    }

    // &.img-fluid {
    //   img {
    //     width: max-content;
    //     // height: auto;
    //   }

    // }

    &.alignright,
    &.alignleft,
    &.aligncenter {
      img {
        margin: 2rem auto;
        display: block;
      }
    }

    &.alignnone {
      img {
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: block;
      }
    }
  }

  ul {
    list-style: disc;
    // margin: 0 0 2rem 2rem;
  }
}

@media screen and (min-width: 576px) {
  .pagesection {
    // padding: 1rem 0 !important;
    figure {
      img {
        // width: auto !important;
        height: auto;
      }
    }

    img {
      // width: 100%;
      height: auto;
    }

    .img-fluid {
      width: auto;
      height: auto;
    }

    .alignright {
      float: right;
      margin: 0 0 2rem 2rem;
    }

    .alignleft {
      float: left;
      margin: 0 2rem 2rem 0;
    }

    .aligncenter {
      margin: 2rem auto;
      display: block;
    }

    .alignnone {
      margin-top: 2rem;
      margin-bottom: 2rem;
      display: block;
    }
  }
}